@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.contentWrapper {
  height: 100%;
  min-height: calc(114vh - (58px + 61px + 225px))!important;
}
.centered {
  position: fixed !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}